html, body, #app {
    min-height: 100% !important;
    height: 100%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
body {
    margin: 0px;
}
h4 {
    margin: 10px;
}
.el-header {
    background-color: #505050;
    background-image: url("./blacktwill.png");
    border-bottom: 1px solid black;
}
.el-dialog__header {
    padding: 10px 20px;
}
.dialog > .el-dialog__body {
    padding: 15px;
}
.header-section {
    padding: 10px;
    height: 50px;
}
.section-tabs > .el-tabs__header {
    width: 100px;
}
.dialogs-tabs {
    .el-tabs__item {
        height: 20px;
        line-height: 20px;
        padding: 0px 3px;
    }
    .el-tabs__item:last-child {
        padding: 0px 3px;
        padding-right: 3px!important;
    }
}

.to-top {
    height: 100%;
    width: 100%;
    background-color: #f2f5f6;
    box-shadow: 0 0 6px rgba(0,0,0, .12);
    text-align: center;
    line-height: 40px;
    color: #1989fa;
}
.header-buttons {
    margin-right: 10px;
}

.menu-buttons {
    height: 20px;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
}
.menu-button {
    min-height: 20px;
    height: 20px;
    line-height: 2px;
}

.section-tabs > .el-tabs__header{
    max-width: 100px;
}

.yaml-editor {
    height: 85vh;
}
.yaml-conversation {
    height: 80vh;
}

.setting-header,.setting-value, .field-editor > .el-input > .el-input__inner, .dialogs-section {
    color: black!important;
    line-height: 14px;
    font-size: 12px;
}
.setting-header,.setting-value, .field-editor > .el-input > .el-input__inner {
    display: inline-block;
}
.setting-header {
    margin-top: 1px;
    overflow: hidden;
    height: 15px;
}
.setting-value {
    margin-top: 1px;
    vertical-align: top;
    padding-left: 5px;
}
.setting-value:hover {
    background-color: #eff4ff;
    cursor: pointer;
}
.setting-section {
    vertical-align: middle;
    min-height: 15px;
}
.field-editor {
    height: 15px;

    .el-input {
        line-height: 15px;
        height: 15px;
        padding-left: 5px;
        width: 70vw;
        top: -3px;
    }
}
.field-editor > .el-input > .el-input__inner {
    line-height: 15px;
    height: 15px;
    padding: 2px 0px 0px 0px;
    background-color: #d9e2f77a;
}

.dialogs-section {
    border-radius: 4px;
    background-color: #e0f0ff;
    padding: 5px;
    align-items: baseline!important;
    width: 100%;
    overflow: visible;

    .dialog-card {
        overflow: visible;
        width: 330px;
        .el-card__header {
            padding: 1px 5px;

            .dialog-header {
                font-weight: bold;
                display: inline-block;
            }
        }
        .el-card__body {
            padding: 1px;
        }
    }
}
.conversation-settings-sction {
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    .section-lang {
        width: 300px;
        margin-right: 10px;
        .small-editor {
            width: 260px;
        }
    }
}
.conversation-settings {
    .setting-header {
        vertical-align: top;
        margin-right: 10px;
    }
}
.dialog-setting-section {
    .setting-header {
        padding: 0px 2px;
    }
    .setting-value {
        margin-left: 5px;
        background-color: #f5f5ff;
    }
    .setting-value:hover {
        background-color: #e1e1ff;
        cursor: pointer;
    }
}

.autocomplete {
    margin: 0px;
    border-bottom: 1px solid #d4d4d4;
}
.multiselect-tag {
    height: 13px;
    background: #578fc7;
}

.section-lang {
    margin-bottom: 1px;
    .el-tag {
        background: #7ebd83;
    }
    .small-editor {
        margin-left: 10px;
        width: 97%;
    }
}
.section-conditions {
    .multiselect-tag,.el-tag {
        background: #cca764;
    }
}
.section-event {
    .multiselect-tag,.el-tag {
        background: #b675cc;
    }
} 
.section-pointers {
    .multiselect-tag,.el-tag {
        background: #6f97c5;
    }
}
:root {
    --ms-font-size: 10px;
    --ms-line-height: 1px;
    --ms-bg: #FFFFFF;
    --ms-bg-disabled: #F3F4F6;
    --ms-border-color: #D1D5DB;
    --ms-border-width: 0px;
    --ms-radius: 0px;
    --ms-py: 1px;
    --ms-px: 0px;
    --ms-ring-width: 0px;
    --ms-ring-color: #10B98130;
    --ms-placeholder-color: #9CA3AF;
    --ms-max-height: 500px;

    --ms-spinner-color: #10B981;
    --ms-caret-color: #999999;
    --ms-clear-color: #999999;
    --ms-clear-color-hover: #000000;
    
    --ms-tag-font-size: 12px;
    --ms-tag-line-height: 0px;
    --ms-tag-font-weight: normal;
    --ms-tag-bg: #10B981;
    --ms-tag-bg-disabled: #9CA3AF;
    --ms-tag-color: #FFFFFF;
    --ms-tag-color-disabled: #FFFFFF;
    --ms-tag-radius: 2px;
    --ms-tag-py: 1px;
    --ms-tag-px: 1px;
    --ms-tag-my: 1px;
    --ms-tag-mx: 1px;

    --ms-tag-remove-radius: 4px;
    --ms-tag-remove-py: 1px;
    --ms-tag-remove-px: 1px;
    --ms-tag-remove-my: 1px;
    --ms-tag-remove-mx: 1px;

    --ms-dropdown-bg: #FFFFFF;
    --ms-dropdown-border-color: #D1D5DB;
    --ms-dropdown-border-width: 1px;
    --ms-dropdown-radius: 2px;

    --ms-option-font-size: 12px;
    --ms-option-line-height: 15px;
    --ms-option-bg-pointed: #FFFFFF;
    --ms-option-bg-selected: #10B981;
    --ms-option-bg-disabled: #FFFFFF;
    --ms-option-bg-selected-pointed: #26C08E;
    --ms-option-bg-selected-disabled: #FFFFFF;
    --ms-option-color-pointed: #1F2937;
    --ms-option-color-selected: #FFFFFF;
    --ms-option-color-disabled: #D1D5DB;
    --ms-option-color-selected-pointed: #FFFFFF;
    --ms-option-color-selected-disabled: #D1FAE5;
    --ms-option-py: 1px;
    --ms-option-px: 1px;

    --ms-empty-color: #4B5563;
}
.multiselect-dropdown {
    max-height: 300px;
}

.dialog-title {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin: 0px 10px;
}
.el-card__header .setting-header {
    vertical-align: bottom;
    padding: 0px 2px;
    margin-left: 5px;
    cursor: pointer;
}
.dialog-options-section {
    overflow: visible;
    margin-bottom: 10px;
}

.lang-header {
    .el-icon-plus {
        cursor: pointer;
    }
}
.small-editor {
    font-family: 'Courier New', monospace;
    font-size: 12px;
    .el-textarea__inner {
        color: black!important;
        padding: 0px;
        line-height: 14px!important;
        background-color: #f9f9f9;
    }
}
.lang-input {
    width: 70px;
}
.lang-delete {
    cursor: pointer;
}
.language-popover {
    padding: 5px;
    .el-button {
        margin-left: 5px;
    }
}

.dialog-section {
    overflow: visible;
    background-color: #edf6ff;
}
.el-button--mini {
    padding: 0px 8px;
}
.setting-section {
    .delete-button {
        padding: 0px 1px;
        margin-right: 3px;
        cursor: pointer;
    }
}
.conversation-settings {
    margin: 5px;
    height: auto;
    overflow: visible;

    .lang-header {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }
    .el-card__body {
        padding: 5px;
    }
    .section-lang {
        display: inline-block;
        margin-bottom: 0px;
    }
    .small-editor {
        margin-left: 5px;
        vertical-align: top;
    }
    .autocomplete {
        display: inline-block;
        vertical-align: text-bottom;
        width: 250px;
    }
}
.conversation-settings-separator {
    margin-bottom: 5px;
}
.conversation-setting-title {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    
    font-size: 0.83em;
    font-weight: bold;
}

.lang-icon {
    width: 25px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5px;
}
.right-header {
    display: inline-block;
    float: right;
    padding-right: 20px;
}

.template-tabs {
    margin: 0px!important;
    .el-tabs__item {
        height: 20px;
        line-height: 20px;   
    }
    .menu-buttons {
        margin-bottom: 10px;
    }
    .el-tabs__item:last-child {
        padding-right: 1px!important;
    }
    .el-tabs__new-tab {
        margin: 5px;
    }
    .el-tabs__content {
        padding: 0px!important;
    }
}

.template-dialog {
    min-height: 400px;
    margin-top: 10px!important;
    margin-bottom: 0px!important;
    .el-dialog__body {
        padding: 10px;
    }
    .template-setting {
        margin-bottom: 10px;
        height: auto;
    }
    .field-name {
        display: inline-block;
        width: 250px;
    }
    .field-editor {
        width: auto;
        display: inline-block;
        .el-input {
            vertical-align: sub;
            width: 400px;
        }
        .el-input__inner {
            line-height: 18px;
            height: 18px;
            padding: 5px;
        }
        .el-select {
            vertical-align: sub;
            .el-select__caret {
                line-height: 18px;
            }
        }
    }
}
.right-section {
    float: right;
}
.template-tabs {
    margin: 20px 0px;

    .el-tabs__item.is-left {
        line-height: 20px;
        height: 20px;
        padding: 1px;
    }
}
.template-error {
    margin-bottom: 20px;
}
.el-tabs {
    overflow: visible;
}
.el-tabs__content {
    padding: 5px!important;
}
.el-tabs__item:not(.is-closable) {
    padding: 5px 10px;
    line-height: 30px;
    padding-right: 10px!important;
}
.el-tabs__item.is-top {
    line-height: 10px;
    height: 27px;
}
.el-tabs__item:last-child {
    padding: 5px 10px;
    padding-right: 10px!important;
}
.el-tabs__item.is-left {
    padding-left: 0px!important;
}
.el-tabs__header.is-left {
    margin-right: 3px!important;
}
.el-space__item {
    padding-bottom: 4px!important;
    margin-right: 4px!important;
}
.multiselect-caret {
    display: none;
}

.dialog-subsection {
    margin-bottom: 5px;
    .el-input {
        height: 30px;
    }
    .el-input__inner {
        height: 30px;
    }
}
.sections-tabs > .el-tabs__header {
    height: 25px;
}
.sections-tabs > .el-tabs__header > .el-tabs__nav-wrap {
    height: 25px;
}
.el-select-dropdown__item {
    height: 20px;
    line-height: 20px;
}
.el-divider.el-divider--horizontal {
    margin: 15px 0;
}
.hotkey {
    padding: 2px;
    line-height: 15px;
    height: 20px;
}
