html, body, #app {
    min-height: 100% !important;
    height: 100%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-image: url("./assets/bindingdark.png");
}
body {
    margin: 0px;
}
h4 {
    margin: 10px;
}
.el-header {
    background-color: #656565;
    background-image: url("./assets/blacktwill.png");
    border-bottom: 1px solid black;
}
.create-section-dialog > .el-dialog__body {
    padding: 15px;
}
.header-section {
    padding: 15px;
}
.section-tabs > .el-tabs__header {
    width: 100px;
}
.dialogs-tabs .el-tabs__item {
    height: 20px;
    line-height: 20px;
}

.header-buttons {
    margin-right: 10px;
}

.menu-buttons {
    height: 30px;
}
.menu-button {
    min-height: 20px;
    height: 20px;
    line-height: 2px;
}

.yaml-editor {
    font-family: 'Courier New', monospace;

    .el-textarea__inner {
        color: black;
        font-size: 12px;
        line-height: 14px;
    }
}

.setting-header,.setting-value, .field-editor > .el-input > .el-input__inner, .dialogs-section {
    font-family: 'Courier New', monospace;
    color: black!important;
    line-height: 14px;
    font-size: 12px;
}
.setting-header,.setting-value, .field-editor > .el-input > .el-input__inner {
    display: inline-block;
}
.setting-header {
    margin-top: 1px;
    overflow: hidden;
    height: 15px;
}
.setting-value {
    margin-top: 1px;
    vertical-align: top;
    padding-left: 5px;
}
.setting-value:hover {
    background-color: #eff4ff;
    cursor: pointer;
}
.setting-section {
    vertical-align: middle;
    min-height: 15px;
}
.field-editor {
    height: 15px;

    .el-input {
        line-height: 15px;
        height: 15px;
        padding-left: 5px;
        width: 70vw;
        top: -3px;
    }
}
.field-editor > .el-input > .el-input__inner {
    line-height: 15px;
    height: 15px;
    padding: 2px 0px 0px 0px;
    background-color: #d9e2f77a;
}

.dialogs-section {
    border-radius: 4px;
    background-color: #e0f0ff;
    padding: 5px;
    align-items: baseline!important;
    width: 100%;
    overflow: visible;

    .dialog-card {
        overflow: visible;
        width: 350px;

        .el-card__header {
            padding: 5px;

            .dialog-header {
                font-weight: bold;
                display: inline-block;
            }
        }
        .el-card__body {
            padding: 5px;
        }
    }
}
.dialog-setting-section {
    .setting-header {
        padding: 0px 2px;
    }
}

.autocomplete {
    margin: 0px 0px 0px 5px;
    border-bottom: 1px solid #d4d4d4;
}
.multiselect-tag {
    height: 13px;
    background: #578fc7;
}
.section-conditions .multiselect-tag {
    background: #c79f57;
}
.section-event .multiselect-tag {
    background: #ab57c7;
}
.section-pointers .multiselect-tag {
    background: #5789c7;
}
:root {
    --ms-font-size: 10px;
    --ms-line-height: 1px;
    --ms-bg: #FFFFFF;
    --ms-bg-disabled: #F3F4F6;
    --ms-border-color: #D1D5DB;
    --ms-border-width: 0px;
    --ms-radius: 0px;
    --ms-py: 1px;
    --ms-px: 0px;
    --ms-ring-width: 0px;
    --ms-ring-color: #10B98130;
    --ms-placeholder-color: #9CA3AF;
    --ms-max-height: 100px;

    --ms-spinner-color: #10B981;
    --ms-caret-color: #999999;
    --ms-clear-color: #999999;
    --ms-clear-color-hover: #000000;
    
    --ms-tag-font-size: 12px;
    --ms-tag-line-height: 0px;
    --ms-tag-font-weight: normal;
    --ms-tag-bg: #10B981;
    --ms-tag-bg-disabled: #9CA3AF;
    --ms-tag-color: #FFFFFF;
    --ms-tag-color-disabled: #FFFFFF;
    --ms-tag-radius: 2px;
    --ms-tag-py: 1px;
    --ms-tag-px: 1px;
    --ms-tag-my: 1px;
    --ms-tag-mx: 1px;

    --ms-tag-remove-radius: 4px;
    --ms-tag-remove-py: 1px;
    --ms-tag-remove-px: 1px;
    --ms-tag-remove-my: 1px;
    --ms-tag-remove-mx: 1px;

    --ms-dropdown-bg: #FFFFFF;
    --ms-dropdown-border-color: #D1D5DB;
    --ms-dropdown-border-width: 1px;
    --ms-dropdown-radius: 2px;

    --ms-option-font-size: 12px;
    --ms-option-line-height: 15px;
    --ms-option-bg-pointed: #FFFFFF;
    --ms-option-bg-selected: #10B981;
    --ms-option-bg-disabled: #FFFFFF;
    --ms-option-bg-selected-pointed: #26C08E;
    --ms-option-bg-selected-disabled: #FFFFFF;
    --ms-option-color-pointed: #1F2937;
    --ms-option-color-selected: #FFFFFF;
    --ms-option-color-disabled: #D1D5DB;
    --ms-option-color-selected-pointed: #FFFFFF;
    --ms-option-color-selected-disabled: #D1FAE5;
    --ms-option-py: 1px;
    --ms-option-px: 1px;

    --ms-empty-color: #4B5563;
}

.dialog-title {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}
.el-card__header .setting-header {
    vertical-align: bottom;
    padding: 0px 2px;
    margin-left: 5px;
    cursor: pointer;
}
.dialog-options-section {
    overflow: visible;
    margin-bottom: 20px;
}
